@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  font-family: "Poppins";
}
.headersec {
  background-image: linear-gradient(140%, white, #f6b400 0%);
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}
nav {
  text-align: right;
  flex: 1;
}
ul {
  display: inline-block;
  list-style-type: none;
}
li {
  display: inline-block;
  margin-right: 120px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #f6b400;
  text-decoration-thickness: 5px;
}
#mustard {
  color: #f6b400;
}
#button1 {
  background-color: #f6b400;
  color: white;
  margin-top: 60px;
  border-radius: 20px 20px 0 20px;
  border: none;
  padding: 10px;
}
.content {
  padding: 20px 100px;
  display: flex;
  align-items: center;
}
.cont-txt {
  width: 50%;
}
.cont-img {
  width: 400px;
  float: left;
  height: 370px;
}
.content-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}
#img1 {
  max-width: 100%;
  max-height: 100%;
}

.services {
  background-color: #e1ebe6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 110px 100px 60px;
  align-items: center;
}

#quality {
  border: 0.1px solid rgb(99, 26, 13);
  width: 30%;
  height: 300px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#icon {
  color: #f6b400;
  font-size: 60px;
}
.services h3 {
  color: rgb(99, 26, 13);
  font-weight: 900;
}

#deliver {
  border: 0.1px solid rgb(99, 26, 13);
  width: 30%;
  height: 350px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#meals {
  border: 0.1px solid rgb(99, 26, 13);
  width: 30%;
  height: 300px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text {
  text-align: center;
}

.menu {
  margin: 50px 100px;
  padding-top: 2%;
}
.menu-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.text {
  text-decoration: underline;
  text-decoration-color: #f6b400;
  text-decoration-thickness: 5px;
}

.Burger {
  width: 300px;
  border-radius: 25px;
  margin: 30px;
  box-shadow: 0 3px 10px #00000033;
  padding: 20px;
}
#cart {
  background-color: #e1ebe6;
  padding: 8px 16px;
  border-radius: 10px;
  width: fit-content;
  float: right;
  margin-top: 18px;
}
#burg {
  width: 100%;
}
.decker {
  background-color: #e1ebe6;
  padding: 50px 100px;
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.decker-img {
  float: left;
  width: 40%;
  margin: 5px;
  padding: 5px;
}
.decker-txt {
  width: 40%;
  float: left;
}
#top-txt {
  margin-bottom: 36px;
}
#dd1 {
  max-width: 100%;
  max-height: 100%;
}
.strong {
  font-size: 28px;
  font-weight: 700;
}
.apps {
  background-color: #f6b400;
  padding: 50px 100px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-images {
  background-color: #f6b400;
  margin: 5px;
  padding: 5px;
  display: flex;
}
.apps-txt {
  font-size: 35px;
  font-weight: 700;
  width: 50%;
}
.mobile {
  margin: 10px;
  width: 200px;
  border-radius: 30px;
  overflow: hidden;
}
.mobile img {
  width: 100%;
  height: 100%;
}
.footer-sec {
  background-color: #e1ebe6;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}
.footer-map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#button2 {
  background-color: #f6b400;
  color: white;
  margin-top: 60px;
  border: none;
  padding: 10px;
}
#email_input {
  margin-top: 60px;
  padding: 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
